todo
config/core/app.conf
config/core/private_key.pem
config/jobservice/config.yml
config/proxy/nginx.conf
config/registry/config.yml
config/registry/passwd
config/registry/root.crt
config/registryctl/config.yml
harbor-portal/config
harbor-portal/docker-compose.yml
harbor-portal/README.md
harbor-portal/2/debian-12/docker-compose.yml
harbor-portal/2/debian-12/Dockerfile
harbor-portal/2/debian-12/tags-info.yaml
harbor-portal/2/debian-12/config/core/app.conf
harbor-portal/2/debian-12/config/core/private_key.pem
harbor-portal/2/debian-12/config/jobservice/config.yml
harbor-portal/2/debian-12/config/proxy/nginx.conf
harbor-portal/2/debian-12/config/registry/config.yml
harbor-portal/2/debian-12/config/registry/passwd
harbor-portal/2/debian-12/config/registry/root.crt
harbor-portal/2/debian-12/config/registryctl/config.yml
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/.bitnami_components.json
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/licenses/licenses.txt
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libbitnami.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libfile.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libfs.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libhook.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/liblog.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libnet.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libos.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libpersistence.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libservice.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libvalidations.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libversion.sh
harbor-portal/2/debian-12/prebuildfs/opt/bitnami/scripts/libwebserver.sh
harbor-portal/2/debian-12/prebuildfs/usr/sbin/install_packages
harbor-portal/2/debian-12/prebuildfs/usr/sbin/run-script
harbor-portal/2/debian-12/rootfs/opt/bitnami/nginx/conf/nginx.conf
harbor-portal/2/debian-12/rootfs/opt/bitnami/nginx/conf/bitnami/protect-hidden-files.conf
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/harbor-portal-env.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/libharbor.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/libnginx.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx-env.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/harbor-portal/entrypoint.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/harbor-portal/postunpack.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/harbor-portal/setup.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/entrypoint.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/postunpack.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/reload.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/restart.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/run.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/setup.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/start.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/status.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/stop.sh
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-http-server-block.conf.tpl
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-https-server-block.conf.tpl
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-php-prefix.conf.tpl
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/app-prefix.conf.tpl
harbor-portal/2/debian-12/rootfs/opt/bitnami/scripts/nginx/bitnami-templates/default-https-server-block.conf
